vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-98GM50B\\user1
vti_modifiedby:SR|DESKTOP-98GM50B\\user1
vti_timelastmodified:TR|11 Oct 2017 20:25:23 -0000
vti_timecreated:TR|11 Oct 2017 19:17:49 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|week6/week6.html
vti_nexttolasttimemodified:TW|11 Oct 2017 19:40:06 -0000
vti_cacheddtm:TX|11 Oct 2017 20:25:23 -0000
vti_filesize:IR|408
vti_cachedlinkinfo:VX|S|images/trilliumbanner.jpg S|images/trilliumbg.gif
vti_cachedsvcrellinks:VX|FSUS|week6/images/trilliumbanner.jpg FSUS|week6/images/trilliumbg.gif
