vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Oct 2017 20:06:15 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-98GM50B\\user1
vti_modifiedby:SR|DESKTOP-98GM50B\\user1
vti_timecreated:TR|04 Oct 2017 20:41:55 -0000
vti_nexttolasttimemodified:TW|06 Oct 2017 19:26:14 -0000
vti_backlinkinfo:VX|
vti_cacheddtm:TX|06 Oct 2017 19:26:11 -0000
vti_filesize:IR|530
